<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    
    <context:annotation-config />
    <context:component-scan base-package="thanhlam" />
	<bean id="aaa" class="tlam26.Battery">
		<!-- <property name="name" value="AAA"/> <property name="price" value="2.5"/> -->
		<constructor-arg value="AAA"></constructor-arg>
		<constructor-arg value="2.5"></constructor-arg>
		<property name="rechargeable" value="true" />
	</bean>
	<bean name="sequenceGenerator" class="tlam26.SequenceGenerator">
		<property name="prefix" value="30" />
		<property name="suffix" value="A" />
		<property name="initial" value="100000" />
	</bean>
<!-- 	
	<bean id="discoutaaa" class="tlam26.DiscountFactoryBean">
		<property name="product">
			<bean class="tlam26.Battery">
				<constructor-arg value="AAA" /> 
				<constructor-arg value="2.5" />
			</bean>
		</property>
		<property name="discount" value="0.2" />
	</bean> -->
	<bean  id="customer" class="tlam26.Customer">
		<property name="id" value="123456" />
		<!-- <property name="person" ref="person" /> -->
	</bean>
	<bean  id="person" class="tlam26.Person">
		<property name="name" value="tlam26" />
	</bean>
</beans>